<h1>All Cds</h1>
<ul>
  #foreach ($compactdisk in $compactdisks)
    <li><a href="/compactdisks/$compactdisk.getId()">$compactdisk.getTitle()</a></li>
  #end
</ul>
<a href="/compactdisks/new">Add New CD</a>
